<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Product Group</title>
</head>
<body>
<div layout:include="layout/body::body('Product Group :: List')" th:with="description='view product group details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('productGroupTable')"
             th:with="
             title='Product Groups',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="productGroupNameFilter">Product Group Name</label>
                        <input id="productGroupNameFilter" name="productGroupName" class="form-control"
                               type="text" placeholder="Product Group Name" th:value="*{['productGroupName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="descriptionFilter">Description</label>
                        <input id="descriptionFilter" name="description" class="form-control"
                               type="text" placeholder="Description" th:value="*{['description']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="glAccountFilter">GL Account</label>
                        <input id="glAccountFilter" name="glAccount" class="form-control"
                               type="text" placeholder="GL Account" th:value="*{['glAccount']}"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="mergeFilter">Merge</label>
                        <select id="mergeFilter" name="merge" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.booleanFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['merge']}"/>
                        </select>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createProductGroupBtn" title="Create a New Product Group" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createProductGroupModal')"
             th:with="
                  title='Product Group :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.productGroupTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editProductGroupModal')"
             th:with="
                  title='Product Group :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.productGroupTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewProductGroupModal')"
             th:with="
                  title='Product Group :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript">
            $(function () {
                new App.ui.datatable({
                    id: 'productGroupTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: '', data: 'productGroupId', selector: true, orderable: true},
                        {title: 'Product Group Name', data: 'productGroupName'},
                        {title: 'Description', data: 'description'},
                        {title: 'GL Account', data: 'glAccount'},
                        {title: 'Merge', data: 'merge'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'productGroupId', actions: {
                            view: {
                                title: 'View Product Group',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewProductGroupModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.productGroupId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit Product Group',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editProductGroupModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.productGroupId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.productGroupId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete Product Group',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete Product Group'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.productGroupId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.productGroupTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createProductGroupBtn').click(function (e) {
                    e.preventDefault();
                    window.createProductGroupModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>