<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>ProductGroup</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}ProductGroup|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class="form-group">
            <label th:for="|productGroupName_${action}|">Product Group Name <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|productGroupName_${action}|" name="productGroupName" th:value="*{productGroupName}"
                   class="form-control" placeholder="Product Group Name" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|description_${action}|">Description <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|description_${action}|" name="description" th:value="*{description}"
                   class="form-control" placeholder="Description" required="required"
                   maxlength="200"/>
        </div>

        <div class="form-group">
            <label th:for="|glAccount_${action}|">GL Account <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|glAccount_${action}|" name="glAccount" th:value="*{glAccount}"
                   class="form-control" placeholder="GL Account" required="required"
                   maxlength="90"/>
        </div>

        <div class="form-group">
            <label th:for="|merge_${action}|">
                <label th:for="|merge_${action}|" style="padding-right:10px">Merge </label>
                <input th:id="|merge_${action}|" type="checkbox" name="merge" class="form-control"
                       th:value="${T(com.nibss.nacsreport.core.model.Flag).YES_ID}"
                       th:checked="${T(com.nibss.nacsreport.core.model.Flag).YES_ID}==*{merge.id}"/>
            </label>
        </div>
        <th:block th:if="${action eq 'edit'}">
            <div class="form-group">
                <label th:for="|status_${action}|">Status <i
                        class="fa fa-asterisk pull-right"/></label>
                <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                    <option th:each="flag : ${controller.statusFlags}"
                            th:value="${flag.id}"
                            th:text="${flag.name}"
                            th:selected="${flag.id}==*{flag.id}"/>
                </select>
            </div>
            <input type="hidden" name="productGroupId" th:value="*{productGroupId}"/>
        </th:block>
        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                App.ui.iCheck($('#merge_' + action));
                App.ux.inputmask($('#formbox_' + action + ' :input'));
            });
        </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Product Group Name</th>
            <td th:text="*{productGroupName}"/>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="*{description}"/>
        </tr>
        <tr>
            <th>GL Account</th>
            <td th:text="*{glAccount}"/>
        </tr>

        <tr>
            <th>Merge</th>
            <td th:text="*{merge.name}"/>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>
</body>
</html>