<!DOCTYPE html>
<!--/**<jsp:directive.tag display-name="datatable"/>
<jsp:directive.attribute required="true" name="id"/>
<jsp:directive.attribute name="title"/>
<jsp:directive.attribute name="styleClass"/>
<jsp:directive.attribute name="exportable" type="java.lang.Boolean"/>
<jsp:directive.attribute name="searchable" type="java.lang.Boolean"/>
<jsp:directive.attribute name="filterable" type="java.lang.Boolean"/>
<jsp:directive.attribute name="searchLabel"/>
<jsp:directive.attribute name="filterCollapsed" type="java.lang.Boolean"/>
<jsp:directive.attribute name="tableHeader" fragment="true"/>
<jsp:directive.attribute name="tableFooter" fragment="true"/>
<jsp:directive.attribute name="tableFilter" fragment="true"/>
<jsp:directive.attribute name="tableAction" fragment="true"/>**/-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>DataTable</title>
</head>
<body layout:fragment="dataTable(id)" th:with="filterCollapsed=true">
<span th:text="${searchable}"></span>
<div th:id="|${id}_container|"
     th:class="|box box-solid box-primary datatable-box ${#bools.isTrue(filterCollapsed)?'collapsed-box':''}|">
    <div class="box-header">
        <h4 class="box-title pull-left"><span th:text="${title}" th:remove="tag"/>
                <span th:id="|${id}_tagNotify|" class="label label-danger tag-label cursor-pointer" style="display:none"
                      th:onclick="|if (window.${id}) {window.${id}.reload(true);}|" title="Data Update Notification"/>
        </h4>

            <div class="box-tools pull-right" th:if="${filterable}">
                <button title="Toggle Table Filter" data-widget="collapse" class="btn btn-primary filter-btn"
                        th:onclick="|if (window.${id})window.${id}.filterToggled();|">
                    <i th:class="|fa fa-${#bools.isTrue(filterCollapsed)?'plus':'minus'}|"/> Filter
                    <i class="fa fa-filter"/>
                </button>
            </div>
    </div>
    <div th:class="|box-body panel-body ${#bools.isTrue(filterable)?'':'hide'}|"
         th:style="|display:${#bools.isTrue(filterCollapsed)?'none':'block'}|">
        <form th:id="|${id}_tableFilterForm|" name="tableFilterForm" method="post">
            <th:block layout:fragment="tableFilter"/>
        </form>

        <div th:id="|${id}_toolbarLeft|" class="hide">
            <button type="button" class="btn btn-flat btn-primary pull-left"
                    th:title="${searchLabel}?: ${#bools.isTrue(filterable)?'Search with Filters':'Search'}"
                    th:onclick="|if (window['${id}'])window['${id}'].reload();return false;|"
                    th:if="${#bools.isTrue(#objects.nullSafe(searchable,filterable))}">
                <span class="fa fa-search"/>
                <span th:text="${searchLabel?:'Search'}" th:remove="tag"/>
            </button>
        </div>

        <div th:id="|${id}_toolbarRight|" class="hide">
            <div class="dropdown btn-group pull-right" th:if="${exportable}">
                <button th:id="|${id}_exportDataTable|" title="Export" type="button"
                        class="btn btn-flat btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="true">
                    <span class="fa fa-download"/>
                    Export
                    <span class="caret"/>
                </button>
                <ul class="dropdown-menu" role="menu" th:attr="aria-labelledby='|${id}_exportDataTable|'">
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                           th:onclick="|if (window['${id}'])window['${id}'].export('csv');return false;|">
                            <span class="fa fa-file-text-o"/> CSV</a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="#"
                           onclick="|if (window['${id}'])window['${id}'].export('xls');return false;|">
                            <span class="fa fa-file-excel-o"/> EXCEL</a>
                    </li>
                </ul>
            </div>
            <th:block layout:fragment="tableAction"/>
        </div>
    </div>
    <div th:id="|${id}_tableHeader|">
        <th:block layout:fragment="tableHeader"/>
    </div>
    <table th:id="|${id}|"
           th:class="|${styleClass?:''} display table-striped table-responsive table-hover table-bordered|"
           cellspacing="0" width="100%">
        <thead class="bg-light-blue-gradient"></thead>
        <tbody>
        <th:block layout:fragment="tableBody"/>
        </tbody>
    </table>
    <div th:id="|${id}_tableFooter|">
        <th:block layout:fragment="tableFooter"/>
    </div>
</div>
</body>
</html>