<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*<jsp:directive.attribute name="id" required="true"/>
<jsp:directive.attribute name="title"/>
<jsp:directive.attribute name="styleClass"/>
<jsp:directive.attribute name="themeClass"/>
<jsp:directive.attribute name="closeable" type="java.lang.Boolean"/>
<jsp:directive.attribute name="modalHeader" fragment="true"/>
<jsp:directive.attribute name="modalFooter" fragment="true"/>

<jsp:directive.attribute name="cancelButton" type="java.lang.Boolean"/>
<jsp:directive.attribute name="actionButton" type="java.lang.Boolean"/>
<jsp:directive.attribute name="cancelButtonLabel"/>
<jsp:directive.attribute name="actionButtonLabel"/>

<jsp:directive.attribute name="validate" type="java.lang.Boolean"/>
<jsp:directive.attribute name="contentUrl"/>
<jsp:directive.attribute name="actionUrl"/>
<jsp:directive.attribute name="onAction" description="javascript for Action button click"/>
<jsp:directive.attribute name="onCancel" description="javascript for Cancel button click"/>
<jsp:directive.attribute name="onSuccess" description="javascript for ajax Action url call is successful"/>
<jsp:directive.attribute name="onError"
                         description="javascript for ajax Action url call fails validation or any other error"/> */-->
<head>
    <meta charset="UTF-8"/>
    <title>ModalBox</title>
</head>
<body layout:fragment="modalBox(id)" th:remove="tag">

<div th:id="${id}" th:class="|modal fade in modal-${themeClass?:'default'} ${styleClass?:''}|"
     th:with="
     closeable=${#objects.nullSafe(closeable,true)},
     cancelButton=${cancelButton==null?true:cancelButton},
     actionButton=${#objects.nullSafe(actionButton,true)},
     validate=${#objects.nullSafe(validate,false)}
     ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button th:if="${closeable}" type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                </button>
                <h4 th:text="${title}" class="modal-title">Modal Title</h4>
                <div layout:fragment="modalHeader"></div>
            </div>
            <div class="modal-body">
                <div layout:fragment="modalBody"/>
            </div>
            <div class="modal-footer">
                <div layout:fragment="modalFooter"/>
                <a th:if="${cancelButton}" th:text="${cancelButtonLabel} ?:'Cancel'"
                   th:class="|btn btn-flat btn-${themeClass?:'default'} ${(themeClass eq null or themeClass eq 'default')?'':'btn-outline'} pull-left|"
                   th:onclick="${onCancel?:''}"
                   href="#" data-dismiss="modal">Cancel</a>

                <a th:if="${actionButton} "
                   th:class="|btn btn-flat btn-${themeClass?:'primary'} ${(themeClass eq null or themeClass eq 'default')?'':'btn-outline'}|"
                   th:text="${actionButtonLabel ?:'OK'}"
                   th:id="|${id}_action|"
                   href="#">OK</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            var id = [[${id}]];
            var jqId = '#' + id;
            var validate = [[${#bools.isTrue(validate)}]];
            if ([[${#bools.isTrue(actionButton)}]]) {
                $(jqId + ' .modal-footer ' + jqId + '_action').click(function () {
                    if (validate) {
                        var validator = new App.ux.validator($(jqId + ' .modal-body form'));
                        validator.validate();
                        if (validator.hasErrors())
                            return;
                    }

                    this.response = undefined;
                    var self = this;
                    var onAction = [[${onAction}]];
                    var proceed = onAction ? App.util.exec(onAction, this) : true;
                    if (typeof proceed !== 'undefined' ? !proceed : false) {
                        $(jqId).modal('hide');
                        return;
                    }
                    var options = {};
                    options = {
                        form: $(jqId + ' .modal-body form'),
                        ajax: {
                            url: [[${actionUrl}]]
                        }, onsuccess: function (response) {
                            self.response = response;

                            var onSuccess = [[${onSuccess}]];
                            var _return = onSuccess ? App.util.exec(onSuccess, self) : undefined;
                            if ((typeof _return === 'undefined' || _return === null || _return) ? (response ? response.valid : false) : false)
                                $(jqId).modal('hide');
                        },
                        onerror: function (responseData) {
                            self.response = responseData;
                            if ($.isFunction(options.onerror)) {
                                options.onerror.call(this, response);
                            }
                            var onError = [[${onError}]];
                            var _return = onError ? App.util.exec(onError, self) : undefined;
                            if (typeof _return === 'undefined' || _return === null || _return)
                                $(jqId).modal('hide');
                        }
                    };
                    if ($.type(modal._actionOptions) === 'object')
                        options = $.extend(true, options, modal._actionOptions);
                    if (options.ajax ? (options.ajax.url ? options.ajax.url !== '' : false) : false)
                        App.ajax.doAction(options);
                });
            }

            var contentUrl = [[${contentUrl}]];
            var modal = new App.ui.modalBox({
                id: id,
                ajax: {
                    url: contentUrl
                }
            });
            modal._show = modal.show;
            modal.show = function (contentOptions, actionOptions) {
                contentOptions = $.type(contentOptions) === 'object' ? contentOptions : null;
                this._actionOptions = ($.type(actionOptions) === 'boolean' ? actionOptions : false) ? contentOptions : ($.type(actionOptions) === 'object' ? actionOptions : null);
                if ($.isFunction(modal._show)) {
                    var _contentOptions = $.extend(true, {}, contentOptions || {});
                    if (validate) {
                        if (contentUrl || (contentOptions && contentOptions.ajax && contentOptions.ajax.url)) {
                            $.extend(true, _contentOptions, {
                                ajax: {
                                    oncomplete: function () {
                                        if (validate) {
                                            new App.ux.validator($(jqId + ' .modal-body form'));
                                        }
                                        if ($.isFunction(contentOptions.ajax.oncomplete)) {
                                            contentOptions.ajax.oncomplete.call(this);
                                        }
                                    }
                                }
                            });
                        }
                        else {
                            new App.ux.validator($(jqId + ' .modal-body form')).validate();
                        }
                    }
                    modal._show.call(this, _contentOptions);
                }
            };

        });
        /*]]>*/
    </script>
</div>

</body>
</html>