<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Bundle Type</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}BundleType|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class="form-group">
            <label th:for="|productGroup_${action}|">Product Group </label>
            <select th:id="|productGroup_${action}|" name="productGroup.productGroupName"
                    class="form-control">
                <option value="">None</option>
            </select>
            <i th:id="|productGroupSpinner_${action}|" class="ajaxIndicator pull-right"/>
        </div>
        <div class="form-group">
            <label th:for="|bundleTypeCode_${action}|">Bundle Type Code <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|bundleTypeCode_${action}|" name="bundleTypeCode" th:value="*{bundleTypeCode}"
                   class="form-control" placeholder="Bundle Type Code" required="required"
                   data-error="Bundle Type Code is required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|description_${action}|">Description <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|description_${action}|" name="description" th:value="*{description}"
                   class="form-control" placeholder="Description" required="required"
                   maxlength="200"/>
        </div>
        <div class="form-group">
            <label th:for="|returnCodes_${action}|">Return Codes <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|returnCodes_${action}|" name="returnCodes" th:value="*{returnCodes}"
                   class="form-control" placeholder="Return Codes" required="required"
                   maxlength="90"/>
        </div>

        <th:block th:if="${action eq 'edit'}">
            <div class="form-group">
                <label th:for="|status_${action}|">Status <i
                        class="fa fa-asterisk pull-right"/></label>
                <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                    <option th:each="flag : ${controller.statusFlags}"
                            th:value="${flag.id}"
                            th:text="${flag.name}"
                            th:selected="${flag.id}==*{flag.id}"/>
                </select>
            </div>
            <input type="hidden" name="bundleTypeId" th:value="*{bundleTypeId}"/>
        </th:block>
        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                new App.ui.selectDropdown({
                    id: 'productGroup_'+action,
                    selectedValue: "[[*{productGroup!=null?productGroup.productGroupName:''}]]",
                    ajaxIndicator: 'productGroupSpinner_'+action,
                    ajax: {url: 'product-group/list'}
                });
                App.ux.inputmask($('#formbox_'+action + ' :input'));
            });
        </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Product Group:</th>
            <td th:text="*{productGroup} ?*{productGroup.productGroupName}"/>
        </tr>
        <tr>
            <th>Bundle Type Code</th>
            <td th:text="*{bundleTypeCode}"/>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="*{description}"/>
        </tr>
        <tr>
            <th>Return Codes</th>
            <td th:text="*{returnCodes}"/>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>
</body>
</html>