<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>BundleType</title>
</head>
<body>
<div layout:include="layout/body::body('Bundle Type :: List')" th:with="description='view bundle type details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('bundleTypeTable')"
             th:with="
             title='Bundle Types',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="productGroupFilter">Product Group</label>
                        <input id="productGroupFilter" name="productGroup.productGroupName" class="form-control"
                               type="text" placeholder="Product Group" th:value="*{['productGroup.productGroupName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="bundleTypeCodeFilter">Bundle Type Code</label>
                        <input id="bundleTypeCodeFilter" name="bundleTypeCode" class="form-control"
                               type="text" placeholder="Bundle Type Code" th:value="*{['bundleTypeCode']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="descriptionFilter">Description</label>
                        <input id="descriptionFilter" name="description" class="form-control"
                               type="text" placeholder="Description" th:value="*{['description']}"/>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="returnCodesFilter">Return Codes</label>
                        <input id="returnCodesFilter" name="returnCodes" class="form-control"
                               type="text" placeholder="Return Codes" th:value="*{['returnCodes']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createBundleTypeBtn" title="Create a New Bundle Type" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createBundleTypeModal')"
             th:with="
                  title='Bundle Type :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.bundleTypeTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editBundleTypeModal')"
             th:with="
                  title='Bundle Type :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.bundleTypeTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewBundleTypeModal')"
             th:with="
                  title='Bundle Type :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript">
            $(function () {
                new App.ui.datatable({
                    id: 'bundleTypeTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: '', data: 'bundleTypeId', selector: true, orderable: true},
                        {title: 'Product Group', data: 'productGroup.productGroupName'},
                        {title: 'Bundle Type Code', data: 'bundleTypeCode'},
                        {title: 'Description', data: 'description'},
                        {title: 'Return Codes', data: 'returnCodes'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'bundleTypeId', actions: {
                            view: {
                                title: 'View Bundle Type',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewBundleTypeModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.bundleTypeId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit Bundle Type',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editBundleTypeModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.bundleTypeId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.bundleTypeId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete Bundle Type',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete Bundle Type'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.bundleTypeId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.bundleTypeTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createBundleTypeBtn').click(function (e) {
                    e.preventDefault();
                    window.createBundleTypeModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>