<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Product</title>
</head>
<body>
<div layout:include="layout/body::body('Product :: List')" th:with="description='view products details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('productTable')"
             th:with="
             title='Products',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="productGroupFilter">Product Group</label>
                        <input id="productGroupFilter" name="productGroup.productGroupName" class="form-control"
                               type="text" placeholder="Product Group" th:value="*{['productGroup.productGroupName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="productCodeFilter">Product Code</label>
                        <input id="productCodeFilter" name="productCode" class="form-control"
                               type="text" placeholder="Product Code" th:value="*{['productCode']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="productNameFilter">Product Name</label>
                        <input id="productNameFilter" name="productName" class="form-control"
                               type="text" placeholder="Product Name" th:value="*{['productName']}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="descriptionFilter">Description</label>
                        <input id="descriptionFilter" name="description" class="form-control"
                               type="text" placeholder="Description" th:value="*{['description']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="glCodeFilter">GL Code</label>
                        <input id="glCodeFilter" name="glCode" class="form-control"
                               type="text" placeholder="GL Code" th:value="*{['glCode']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="glAccountFilter">GL Account</label>
                        <input id="glAccountFilter" name="glAccount" class="form-control"
                               type="text" placeholder="GL Account" th:value="*{['glAccount']}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="vatFilter">VAT</label>
                        <input id="vatFilter" name="vat" class="form-control"
                               type="text" placeholder="VAT" th:value="*{['vat']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="feeFilter">Fee</label>
                        <input id="feeFilter" name="fee" class="form-control"
                               type="text" placeholder="Fee" th:value="*{['fee']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createProductBtn" title="Create a New Product" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createProductModal')"
             th:with="
                  title='Product :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.productTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editProductModal')"
             th:with="
                  title='Product :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.productTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewProductModal')"
             th:with="
                  title='Product :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript">
            $(function () {
                new App.ui.datatable({
                    id: 'productTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: 'Product Group', data: 'productGroup.productGroupName'},
                        {title: 'Product Code', data: 'productCode'},
                        {title: 'Product Name', data: 'productName'},
                        {title: 'Description', data: 'description'},
                        {title: 'GL Code', data: 'glCode'},
                        {title: 'GL Account', data: 'glAccount'},
                        {title: 'VAT', data: 'vat', dataType: 'currency'},
                        {title: 'Fee', data: 'fee', dataType: 'currency'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'productId', actions: {
                            view: {
                                title: 'View Product',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewProductModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.productId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit Product',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editProductModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.productId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.productId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete Product',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete Product'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.productId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.productTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createProductBtn').click(function (e) {
                    e.preventDefault();
                    window.createProductModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>