<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Product</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}Product|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class=" form-group">
    <label th:for="|productGroup_${action}|">Product Group </label>
    <select th:id="|productGroup_${action}|" name="productGroup.productGroupName"
            class="form-control">
        <option value="">None</option>
    </select>
    <i th:id="|productGroupSpinner_${action}|" class="ajaxIndicator pull-right"/>
    </div>
    <div class="form-group">
        <label th:for="|productCode_${action}|">Product Code <i
                class="fa fa-asterisk pull-right"/></label>
        <input th:id="|productCode_${action}|" name="productCode" th:value="*{productCode}"
               class="form-control" placeholder="Product Code" required="required"
               data-error="Product Code is required"
               maxlength="90"/>
    </div>
    <div class="form-group">
        <label th:for="|productName_${action}|">Product Name <i
                class="fa fa-asterisk pull-right"/></label>
        <input th:id="|productName_${action}|" name="productName" th:value="*{productName}"
               class="form-control" placeholder="Product Name" required="required"
               maxlength="90"/>
    </div>
    <div class="form-group">
        <label th:for="|description_${action}|">Description <i
                class="fa fa-asterisk pull-right"/></label>
        <input th:id="|description_${action}|" name="description" th:value="*{description}"
               class="form-control" placeholder="Description" required="required"
               maxlength="200"/>
    </div>
    <div class="form-group">
        <label th:for="|glCode_${action}|">GL Code <i
                class="fa fa-asterisk pull-right"/></label>
        <input th:id="|glCode_${action}|" name="glCode" th:value="*{glCode}"
               class="form-control" placeholder="GL Code" required="required"
               maxlength="90"/>
    </div>
    <div class="form-group">
        <label th:for="|glAccount_${action}|">GL Account <i
                class="fa fa-asterisk pull-right"/></label>
        <input th:id="|glAccount_${action}|" name="glAccount" th:value="*{glAccount}"
               class="form-control" placeholder="GL Account" required="required"
               maxlength="90"/>
    </div>
    <div class="form-group">
        <label th:for="|fee_${action}|">Fee <i class="fa fa-asterisk pull-right"/></label>
        <input th:id="|fee_${action}|" name="fee" th:value="*{fee}"
               class="form-control" placeholder="Fee" required="required"
               data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true"/>
    </div>
    <div class="form-group">
        <label th:for="|vat_${action}|">VAT <i class="fa fa-asterisk pull-right"/></label>
        <input th:id="|vat_${action}|" name="vat" th:value="*{vat}"
               class="form-control" placeholder="VAT" required="required" type="text"
               maxlength="3"
               data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true"/>
    </div>
    <div class="form-group">
        <label th:for="|minAmount_${action}|">Min Amount </label>
        <input th:id="|minAmount_${action}|" name="minAmount" th:value="*{minAmount}"
               class="form-control" placeholder="Min Amount"
               data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true"/>
    </div>
    <div class="form-group">
        <label th:for="|maxAmount_${action}|">Max Amount </label>
        <input th:id="|maxAmount_${action}|" name="maxAmount" th:value="*{maxAmount}"
               class="form-control" placeholder="Max Amount"
               data-inputmask="'alias': 'decimal', 'groupSeparator': ',', 'autoGroup': true"/>
    </div>
    <th:block th:if="${action eq 'edit'}">
        <div class="form-group">
            <label th:for="|status_${action}|">Status <i
                    class="fa fa-asterisk pull-right"/></label>
            <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                <option th:each="flag : ${controller.statusFlags}"
                        th:value="${flag.id}"
                        th:text="${flag.name}"
                        th:selected="${flag.id}==*{flag.id}"/>
            </select>
        </div>
        <input type="hidden" name="productId" th:value="*{productId}"/>
    </th:block>
    <script type="text/javascript" th:inline="text">
        $(function () {
            var action = '[[${action}]]';
            new App.ui.selectDropdown({
                id: 'productGroup_' + action,
                selectedValue: "[[*{productGroup!=null?productGroup.productGroupId:''}]]",
                ajaxIndicator: 'productGroupSpinner_' + action,
                ajax: {url: 'product-group/list'}
            });
            App.ux.inputmask($('#formbox_' + action + ' :input'));
        });
    </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Product Group</th>
            <td th:text="*{productGroup}?*{productGroup.productGroupName}"/>
        </tr>
        <tr>
            <th>Product Code</th>
            <td th:text="*{productCode}"/>
        </tr>
        <tr>
            <th>Product Name</th>
            <td th:text="*{productName}"/>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="*{description}"/>
        </tr>
        <tr>
            <th>GL Code</th>
            <td th:text="*{glCode}"/>
        </tr>
        <tr>
            <th>GL Account</th>
            <td th:text="*{glAccount}"/>
        </tr>
        <tr>
            <th>Fee</th>
            <td th:text="*{fee}"/>
        </tr>
        <tr>
            <th>VAT</th>
            <td th:text="*{vat}"/>
        </tr>

        <tr>
            <th>Min Amount</th>
            <td th:text="*{minAmount}"/>
        </tr>
        <tr>
            <th>Max Amount</th>
            <td th:text="*{maxAmount}"/>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>
</body>
</html>