<!DOCTYPE html>
<!--
Document   : body
Created on : June 22, 2016, 5:39:35 PM
Author     : oogunjimi
-->
<!--<jsp:directive.tag display-name="body" />
<jsp:directive.attribute name="title"/>
<jsp:directive.attribute name="description"/>-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Body</title>
</head>
<body layout:fragment="body(title)">
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        <span th:text="${title}"/>
        <small th:text="${description}"></small>
    </h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-home"/> Home</a></li>
        <li class="active" th:text="${title}"></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div layout:fragment="content"/>
</section>
</body>
</html>