<!DOCTYPE html>
<!--
    Document   : header
    Created on : Jun 22, 2016, 4:28:49 PM
    Author     : seun ogunjimi
-->
<!--<jsp:directive.tag display-name="header"/>
<jsp:directive.attribute name="title"/>
<jsp:directive.attribute name="subtitle"/>
<jsp:directive.attribute name="miniTitle"/>
<jsp:directive.attribute name="miniSubtitle"/>
<jsp:directive.attribute name="navbarControl"/>
<jsp:directive.attribute name="sidebarControl"/>-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>

<header layout:fragment="header" class="main-header">
    <a th:href="${#httpServletRequest.contextPath}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b th:text="${miniTitle}">A</b><span th:text="${miniSubtitle}" th:remove="tag">LT</span></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b th:text="${title}">Admin</b><span th:text="${subtitle}"
                                                                   th:remove="tag">LTE</span></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->

        <div sec:authorize="isAuthenticated()">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"
               th:if="${navbarControl==null or #bools.isTrue(navbarControl)}">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"><!----></span>
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs" th:text="${#authentication.name}"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <span class="fa fa-user fa-2x"><!----></span>
                                <p>
                                    <span th:text="${#authentication.name}" th:remove="tag"></span>
                                    <small>Member since Nov. 2012</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li>
                                <a class="clearfix" href="#"
                                   onclick="window.changePasswordModal.show(false,{ajax: {contentType: App.CONTENT_TYPE_FORM}});return false;">
                                    <span>
                                        <i class="fa fa-key fa-fw fa-lg"/>
                                        <span>Change Password</span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a class="clearfix" href="#">
                                    <span>
                                        <i class="fa fa-question-circle fa-fw fa-lg"/>
                                        <span>Help</span>
                                    </span>
                                </a>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a th:href="@{/profile.html}" class="btn btn-default btn-flat">
                                        <i class="fa fa-user"/> Profile
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat"
                                       th:onclick="|App.logout('${#httpServletRequest.contextPath}');return false;|">
                                        <i class="fa fa-sign-out"/> Sign out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <!-- Control Sidebar Toggle Button -->
                    <li th:if="${#bools.isTrue(sidebarControl)}">
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"><!--  --></i></a>
                    </li>
                </ul>
            </div>
            <div layout:include="widget/modalBox::modalBox('changePasswordModal')"
                 th:with="
                 title='Profile :: Change Password',
                 contentUrl=@{/change-password},
                 actionUrl=@{/change-password},
                 onSuccess='if(this.response.valid? $(\'#activateProfile\').length:false)window.location.reload();'"/>

        </div>
    </nav>
</header>

</body>
</html>