<!DOCTYPE html>
<!--
    Document   : sidebar-left
    Created on : Mar 1, 2016, 4:45:08 PM
    Author     : oogunjimi
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Side Bar</title>
</head>
<body>
<aside layout:fragment="sidebar" class="main-sidebar">
    <section class="sidebar">
        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i
                            class="fa fa-search"/>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li th:class="${navigator.inView('home')}?'active'"><a th:href="@{/home}"><i class="fa fa-home"/>
                <span>Home</span></a></li>

            <li class="header"><i class="fa fa-desktop"/> Admin</li>

            <li th:class="${navigator.inView('admin/institution/')}?'active'">
                <a th:href="@{/admin/institution/list}"><i class="fa fa-institution"/><span>Institutions</span></a></li>

            <li th:class="${navigator.inView('admin/user-role/')}?'active'">
                <a th:href="@{/admin/user-role/list}"><i class="fa fa-user-plus"/><span>User Roles</span></a></li>

            <li th:class="${navigator.inView('admin/user/')}?'active'"><a
                    th:href="@{/admin/user/list}"><i class="fa fa-users"/>
                <span>Users</span></a></li>

            <li th:class="${navigator.inView('admin/audit-log/')}?'active'"><a
                    th:href="@{/admin/audit-log/list}"><i class="fa fa-list-alt"/>
                <span>Audit Trail</span></a></li>

            <li class="header"><i class="fa fa-edit"/> Report</li>

            <li th:class="${navigator.inView('report/product-group/')}?'active'"><a
                    th:href="@{/report/product-group/list}"><i class="fa fa-th"/><span>Product Group</span></a></li>

            <li th:class="${navigator.inView('report/product/')}?'active'"><a
                    th:href="@{/report/product/list}"><i class="fa fa-product-hunt"/><span>Product</span></a></li>

            <li th:class="${navigator.inView('report/bundle-type/')}?'active'"><a
                    th:href="@{/report/bundle-type/list}"><i class="fa fa-th-large"/><span>Bundle Type</span></a></li>

            <li th:class="${navigator.inView('report/billing-report/')}?'active'"><a
                    th:href="@{/report/billing-report/list}"><i class="fa fa-file-text"/><span>Billing Report</span></a>
            </li>
        </ul>
        <!-- /.sidebar-menu -->
    </section>
</aside>
</body>
</html>