<!DOCTYPE html>
<!--
   Document   : template
   Created on : JUN 22, 2016, 4:31:02 PM
   Author     : oogunjimi
-->
<!--<jsp:directive.attribute name="header" fragment="true"/>
<jsp:directive.attribute name="navbar" fragment="true"/>
<jsp:directive.attribute name="sidebar" fragment="true"/>
<jsp:directive.attribute name="footer" fragment="true"/>
<jsp:directive.attribute name="title"/>-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <th:block th:if="${not (_csrf  eq null)}">
        <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
        <meta th:name="|${_csrf.parameterName}_header|" th:content="${_csrf.headerName}"/>
    </th:block>

    <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/ionicons/css/ionicons.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/iCheck/skins/square/_all.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/qtip2/jquery.qtip.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/animate.css/animate.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/jstree/themes/default/style.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/datatables/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}" rel="stylesheet" type="text/css"/>
    <!-- App Theme style -->
    <link th:href="@{/app/css/AdminLTE.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/app/css/skins/skin-blue.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/app/css/app.css}" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script th:src="@{/assets/html5shiv/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/respond.js/js/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/assets/jquery/jquery.min.js}"></script>
    <title>Template</title>
</head>
<body th:class="|hold-transition skin-blue ${#authorization.expr('isAuthenticated()')?'sidebar-mini':'sidebar-collapse'}|">
<div class="wrapper">
    <!-- header -->
    <header class="main-header">
        <div layout:fragment="header"/>
    </header>
    <!-- Navbar -->
    <aside class="main-sidebar">
        <div layout:fragment="sidebar"/>
    </aside>
    <!-- Content -->
    <div class="content-wrapper">
        <div layout:fragment="body"/>
    </div>
    <!-- Main footer -->
    <footer class="main-footer">
        <div layout:fragment="footer"/>
    </footer>
    <!-- sidebar left-->
    <aside class="control-sidebar control-sidebar-dark">
        <div layout:fragment="controlbar"/>
    </aside>
    <div class="control-sidebar-bg"/>

</div>
<!-- script-->
<script th:src="@{/assets/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/iCheck/icheck.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/qtip2/jquery.qtip.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/bootstrap-notify/bootstrap-notify.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/bootstrap-validator/js/validator.js}" type="text/javascript"></script>
<script th:src="@{/assets/jquery-blockui/jquery.blockUI.js}" type="text/javascript"></script>
<script th:src="@{/assets/jquery.inputmask/min/jquery.inputmask.bundle.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/jquery.fileDownload/jquery.fileDownload.js}" type="text/javascript"></script>
<script th:src="@{/assets/bootbox/bootbox.js}" type="text/javascript"></script>
<script th:src="@{/assets/jstree/jstree.min.js}" type="text/javascript"></script>

<script th:src="@{/assets/datatables/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/datatables/js/dataTables.bootstrap.min.js}" type="text/javascript"></script>

<script th:src="@{/assets/numeral-js/min/numeral.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/momentjs/min/moment.min.js}" type="text/javascript"></script>
<script th:src="@{/assets/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}" type="text/javascript"></script>

<!-- daterangepicker datepicker -->
<!--script th:src="@{/resources/plugins/daterangepicker/daterangepicker.js}" type="text/javascript"></script>
<script th:src="@{/resources/plugins/datepicker/bootstrap-datepicker.js}" type="text/javascript"></script>-->

<script th:src="@{/app/js/AdminLTE.js}" type="text/javascript"></script>
<script th:src="@{/app/js/app.js}" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        if ($.isFunction(App.init))
            App.init();
    });
</script>
</body>
</html>