<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>User</title>
</head>
<body>
<div layout:include="layout/body::body('User :: List')" th:with="description='view users details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('userTable')"
             th:with="
             title='Users',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="institutionFilter">Institution</label>
                        <input id="institutionFilter" name="institution.institutionName" class="form-control"
                               type="text"
                               placeholder="Institution"
                               th:value="*{['institution.institutionName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="userRoleFilter">User Role</label>
                        <input id="userRoleFilter" name="userRole.userRoleName" class="form-control" type="text"
                               placeholder="User Role"
                               th:value="*{['userRole.userRoleName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="emailFilter">Email</label>
                        <input id="emailFilter" name="email" class="form-control" type="text" placeholder="Email"
                               th:value="*{['email']}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="firstNameFilter">First Name</label>
                        <input id="firstNameFilter" name="firstName" class="form-control" type="text"
                               placeholder="First Name" th:value="*{['firstName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="lastNameFilter">Last Name</label>
                        <input id="lastNameFilter" name="lastName" class="form-control" type="text"
                               placeholder="Last Name" th:value="*{['lastName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createUserBtn" title="Create a New User" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createUserModal')"
             th:with="
                  title='User :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.userTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editUserModal')"
             th:with="
                  title='User :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.userTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewUserModal')"
             th:with="
                  title='User :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript" th:inline="javascript">
            $(function () {
                var userId='[[${#authentication.principal.user.userId}]]';
                new App.ui.datatable({
                    id: 'userTable',
                    order: [[0, 'desc']],
                    columns: [
                        {
                            title: 'Institution',
                            data: 'institution.institutionName',
                            render: function (data, type, rowData) {
                                return rowData.institutionName;
                            }
                        },
                        {
                            title: 'User Role', data: 'userRole.userRoleName',
                            render: function (data, type, rowData) {
                                return rowData.userRoleName;
                            }
                        },
                        {title: 'Email', data: 'email'},
                        {title: 'First Name', data: 'firstName'},
                        {title: 'Last Name', data: 'lastName'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'userId', actions: {
                            view: {
                                title: 'View User',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewUserModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.userId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit User',
                                disabled: function (data, rowData) {
                                    return userId == rowData.userId;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editUserModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.userId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {userId: rowData.userId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete User',
                                disabled: function (data, rowData) {
                                    return userId == rowData.userId;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete User'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.userId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.userTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            },
                            resetPassword: {
                                title: 'Reset Password',
                                rendered:[[${#authorization.expr("hasRole('edit-user')")}]],
                                className: 'btn-flat btn-sm btn-sm btn-danger',
                                icon: 'fa fa-refresh',
                                disabled: function (data, rowData) {
                                    return userId == rowData.userId;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Reset Password'}, function () {
                                        App.ajax.doAction({ajax: {url: 'reset-password', data: {userId: rowData.userId}}, onsuccess: function () {
                                            window.userTable.reload(false);
                                        }});
                                    }).show();
                                }
                            },
                            resetDefaultPassword: {
                                title: 'Reset Default Password',
                                rendered:[[${#authentication.principal.user.nibss and #authorization.expr("hasRole('edit-user')")}]],
                                className: 'btn-flat btn-sm btn-sm btn-primary',
                                icon: 'fa fa-refresh',
                                disabled: function (data, rowData) {
                                    return userId == rowData.userId;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Reset Default Password'}, function () {
                                        App.ajax.doAction({ajax: {url: 'reset-default-password', data: {userId: rowData.userId}}, onsuccess: function () {
                                            window.userTable.reload(false);
                                        }});
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createUserBtn').click(function (e) {
                    e.preventDefault();
                    window.createUserModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>