<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Institution</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}Institution|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class="form-group">
            <label th:for="|institution_${action}|">Institution <i class="fa fa-asterisk pull-right"/></label>
            <i th:id="|institutionSpinner_${action}|" class="ajaxIndicator pull-right"/>
            <select th:id="|institution_${action}|" name="institution.institutionId"
                    class="form-control">
                <option value="">None</option>
            </select>

        </div>
        <div class="form-group">
            <label th:for="|userRole_${action}|">User Role <i class="fa fa-asterisk pull-right"/></label>
            <i th:id="|userRoleSpinner_${action}|" class="ajaxIndicator pull-right"/>
            <select th:id="|userRole_${action}|" name="userRole.userRoleId"
                    class="form-control">
                <option value="">None</option>
            </select>

        </div>
        <div class="form-group">
            <label th:for="|firstName_${action}|">First Name <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|firstName_${action}|" name="firstName" th:value="*{firstName}"
                   class="form-control" placeholder="First Name" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|lastName_${action}|">Last Name <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|lastName_${action}|" name="lastName" th:value="*{lastName}"
                   class="form-control" placeholder="Last Name" required="required"
                   data-error="Institution Code is required"
                   maxlength="90"/>
        </div>

        <div class="form-group">
            <label th:for="|email_${action}|">Email <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|email_${action}|" name="email" th:value="*{email}"
                   class="form-control" placeholder="Email" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|phoneNumber_${action}|">Phone Number </label>
            <input th:id="|phoneNumber_${action}|" name="phoneNumber" th:value="*{phoneNumber}"
                   class="form-control" placeholder="Phone Number" required="required"
                   maxlength="90"/>
        </div>


        <th:block th:if="${action eq 'edit'}">
            <div class="form-group">
                <label th:for="|status_${action}|">Status <i
                        class="fa fa-asterisk pull-right"/></label>
                <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                    <option th:each="flag : ${controller.statusFlags}"
                            th:value="${flag.id}"
                            th:text="${flag.name}"
                            th:selected="${flag.id}==*{flag.id}"/>
                </select>
            </div>
            <input type="hidden" name="userId" th:value="*{userId}"/>
        </th:block>
        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                if ([[${action eq 'create'}]]) {
                    new App.ui.selectDropdown({
                        id: "institution_" + action,
                        selectedValue: "[[*{institution!=null?institution.institutionId:''}]]",
                        ajaxIndicator: "institutionSpinner_" + action,
                        ajax: {url: "institution/list"}
                    });
                }
                new App.ui.selectDropdown({
                    id: "userRole_" + action,
                    selectedValue: "[[*{userRole!=null?userRole.userRoleId:''}]]",
                    ajaxIndicator: "userRoleSpinner_" + action,
                    ajax: {url: "user-role/list"}
                })
                App.ux.inputmask($('#formbox_' + action + ' :input'));
            });
        </script>
    </div>
</form>
<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Institution</th>
            <td th:text="*{institution}?*{institution.institutionName}"/>
        </tr>

        <tr>
            <th>User Role</th>
            <td th:text="*{userRole}?*{userRole.userRoleName}"/>
        </tr>

        <tr>
            <th>First Name</th>
            <td th:text="*{firstName}"/>
        </tr>
        <tr>
            <th>Last Name</th>
            <td th:text="*{lastName}"/>
        </tr>

        <tr>
            <th>Email</th>
            <td th:text="*{email}"/>
        </tr>

        <tr>
            <th>Phone Number</th>
            <td th:text="*{phoneNumber}"/>
        </tr>

        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>

</body>
</html>