<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>User Role</title>
</head>
<body>
<div layout:include="layout/body::body('User Role :: List')" th:with="description='view user role details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('userRoleTable')"
             th:with="
             title='User Roles',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="institutionTypeFilter">Institution Type</label>
                        <input id="institutionTypeFilter" name="institutionType.institutionTypeName" class="form-control"
                               type="text" th:value="*{['institutionType.institutionTypeName']}"
                               placeholder="Institution Type"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="userRoleNameFilter">User Role Name</label>
                        <input id="userRoleNameFilter" name="userRoleName" class="form-control" type="text"
                               th:value="*{['userRoleName']}"
                               placeholder="User Role Name"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="adminFilter">Admin</label>
                        <select id="adminFilter" name="admin" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.booleanFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['admin']}"/>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createUserRoleBtn" title="Create a New User Role" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createUserRoleModal')"
             th:with="
                  title='User Role :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.userRoleTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editUserRoleModal')"
             th:with="
                  title='User Role :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.userRoleTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewUserRoleModal')"
             th:with="
                  title='User Role :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript">
            $(function () {
                new App.ui.datatable({
                    id: 'userRoleTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: 'Institution Type', data: 'institutionType.institutionTypeName'},
                        {title: 'User Role Name', data: 'userRoleName'},
                        {title: 'Admin', data: 'admin', render: 'name'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'userRoleId', actions: {
                            view: {
                                title: 'View User Role',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewUserRoleModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.userRoleId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit User Role',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editUserRoleModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.userRoleId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.userRoleId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete User Role',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete User Role'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.userRoleId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.userRoleTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createUserRoleBtn').click(function (e) {
                    e.preventDefault();
                    window.createUserRoleModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>