<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>User Role</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}InstitutionType|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class="form-group">
            <label th:for="|institutionType_${action}|">Institution Type <i class="fa fa-asterisk pull-right"/></label>
            <th:block th:if="${action eq 'create'}">
                <i th:id="|institutionTypeSpinner_${action}|" class="ajaxIndicator pull-right"/>
                <select th:id="|institutionType_${action}|" name="institutionType.institutionTypeId"
                        class="form-control">
                    <option value="">None</option>
                </select>
            </th:block>

            <th:block th:if="${action eq 'edit'}">
                <input th:id="|institutionTypeName_${action}|" name="institutionType.institutionTypeName"
                       th:value="*{institutionType.institutionTypeName}" class="form-control"
                       disabled="true" readonly="true"/>
                <input th:id="|institutionType_${action}|" name="institutionType.institutionTypeId"
                       th:value="*{institutionType.institutionTypeId}" type="hidden"/>
            </th:block>

        </div>
        <div class="form-group">
            <label th:for="|userRoleName_${action}|">User Role Name <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|userRoleName_${action}|" name="userRoleName" th:value="*{userRoleName}"
                   class="form-control" placeholder="User Role Name" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|admin_${action}|" style="padding-right:10px">Admin </label>
            <input type="checkbox" name="admin" th:id="|admin_${action}|" class="form-control"
                   th:value="${T(com.nibss.nacsreport.core.model.Flag).YES_ID}"
                   th:checked="${T(com.nibss.nacsreport.core.model.Flag).YES_ID}==*{admin.id}"/>
        </div>
        <th:block th:if="${action eq 'edit'}">
            <div class="form-group">
                <label th:for="|status_${action}|">Status <i
                        class="fa fa-asterisk pull-right"/></label>
                <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                    <option th:each="flag : ${controller.statusFlags}"
                            th:value="${flag.id}"
                            th:text="${flag.name}"
                            th:selected="${flag.id}==*{flag.id}"/>
                </select>
            </div>
            <input type="hidden" name="userRoleId" th:value="*{userRoleId}"/>
        </th:block>

        <div class="form-group">
            <label th:for="|roleConfig_${action}|">Role Config <i class="fa fa-asterisk pull-right"/></label>
            <input th:id="|roleConfigInput_${action}|" type="hidden" name="roleConfig" th:value="*{roleConfig}"/>
            <div th:id="|roleConfig_${action}|"></div>
        </div>

        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                if ([[${action eq 'create'}]]) {
                    new App.ui.selectDropdown({
                        id: "institutionType_" + action,
                        selectedValue: "[[*{institutionType!=null?institutionType.institutionTypeId:''}]]",
                        ajaxIndicator: "institutionTypeSpinner_" + action,
                        ajax: {url: "institution-type/list"},
                        onchange: function () {
                            var val = $(this).val();
                            if (val ? val !== '' : false) {
                                $('#roleConfigInput_' + action).val("");
                                window['roleConfig_' + action].update({ajax: {data: {institutionTypeId: val}}});
                            }
                        }
                    });
                }
                new App.ui.treeView({
                    id: 'roleConfig_' + action,
                    selectedInputField: $('#roleConfigInput_' + action),
                    deferred: [[${action eq 'create'}]],
                    ajax: {
                        url: 'role-config',
                        data: {institutionTypeId: '[[*{institutionType.institutionTypeId}]]'}
                    },
                    selectedIcon: 'fa fa-unlock',
                    deselectedIcon: 'fa fa-lock',
                    checkbox: {keep_selected_style: false, three_state: false},
                    plugins: ["checkbox"]
                });
                App.ui.iCheck($('#admin_' + action));
                App.ux.inputmask($('#formbox_' + action + ' :input'));
            });
        </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Institution Type</th>
            <td th:text="*{institutionType.institutionTypeName}"/>
        </tr>

        <tr>
            <th>User Role Name</th>
            <td th:text="*{userRoleName}"/>
        </tr>
        <tr>
            <th>Admin:</th>
            <td th:text="*{admin.name}"/>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
        <tr>
            <th>Role Config:</th>
            <td>
                <div th:id="|roleConfig_${action}|"></div>
            </td>
        </tr>
    </table>
    <script type="text/javascript" th:inline="text" th:object="${model}">
        $(function () {
            new App.ui.treeView({
                id: 'roleConfig_[[${action}]]',
                selectedValues: '[[*{roleConfig}]]'.split(','),
                deferred: false,
                ajax: {
                    url: 'role-config',
                    data: {institutionTypeId: '[[*{institutionType.institutionTypeId}]]'}
                },
                selectedIcon: 'fa fa-check-circle',
                deselectedIcon: 'fa fa-dot-circle-o',
                disabled: true
            });
        });
    </script>
    <style>
        .jstree-default .jstree-disabled.jstree-clicked,
        .jstree-default .jstree-clicked {
            background: none;
            border-radius: 0px;
            box-shadow: 0 0 0px #999 inset;
        }
    </style>
</div>

</body>
</html>