<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Institution</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}Institution|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}">
        <div class="form-group">
            <label th:for="|institutionType_${action}|">Institution Type </label>
            <select th:id="|institutionType_${action}|" name="institutionType.institutionTypeId"
                    class="form-control">
                <option value="">None</option>
            </select>
            <i th:id="|institutionTypeSpinner_${action}|" class="ajaxIndicator pull-right"/>
        </div>
        <div class="form-group">
            <label th:for="|institutionName_${action}|">Institution Name <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|institutionName_${action}|" name="institutionName" th:value="*{institutionName}"
                   class="form-control" placeholder="Institution Name" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|institutionCode_${action}|">Institution Code <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|institutionCode_${action}|" name="institutionCode" th:value="*{institutionCode}"
                   class="form-control" placeholder="Institution Code" required="required"
                   data-error="Institution Code is required"
                   maxlength="90"/>
        </div>

        <div class="form-group">
            <label th:for="|sortCode_${action}|">Sort Code <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|sortCode_${action}|" name="sortCode" th:value="*{sortCode}"
                   class="form-control" placeholder="Sort Code" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|accountNumber_${action}|">Account Number <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|accountNumber_${action}|" name="accountNumber" th:value="*{accountNumber}"
                   class="form-control" placeholder="Account Number" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group">
            <label th:for="|address_${action}|">Address <i class="fa fa-asterisk pull-right"/></label>
            <input th:id="|address_${action}|" name="address" th:value="*{address}"
                   class="form-control" placeholder="Address" required="required"/>
        </div>

        <th:block th:if="${action eq 'edit'}">
            <div class="form-group">
                <label th:for="|status_${action}|">Status <i
                        class="fa fa-asterisk pull-right"/></label>
                <select th:id="|status_${action}|" name="flag" class="form-control" required="required">
                    <option th:each="flag : ${controller.statusFlags}"
                            th:value="${flag.id}"
                            th:text="${flag.name}"
                            th:selected="${flag.id}==*{flag.id}"/>
                </select>
            </div>
            <input type="hidden" name="institutionId" th:value="*{institutionId}"/>
        </th:block>
        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                new App.ui.selectDropdown({
                    id: "institutionType_" + action,
                    selectedValue: "[[*{institutionType!=null?institutionType.institutionTypeName:''}]]",
                    ajaxIndicator: "institutionTypeSpinner_" + action,
                    ajax: {url: 'institution-type/list'}
                });
                App.ux.inputmask($("#formbox_" + action + ' :input'));
            });
        </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Institution Type</th>
            <td th:text="*{institutionType}?*{institutionType.institutionTypeName}"/>
        </tr>

        <tr>
            <th>Institution Name</th>
            <td th:text="*{institutionName}"/>
        </tr>
        <tr>
            <th>Institution Code</th>
            <td th:text="*{institutionCode}"/>
        </tr>

        <tr>
            <th>Sort Code</th>
            <td th:text="*{sortCode}"/>
        </tr>

        <tr>
            <th>Account Number</th>
            <td th:text="*{accountNumber}"/>
        </tr>

        <tr>
            <th>Address</th>
            <td th:text="*{address}"/>
        </tr>

        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>
</body>
</html>