<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Institution</title>
</head>
<body>
<div layout:include="layout/body::body('Institution :: List')" th:with="description='view institutions details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('institutionTable')"
             th:with="
             title='Institutions',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="institutionTypeFilter">Institution Type</label>
                        <input id="institutionTypeFilter" name="institutionType.institutionTypeName"
                               class="form-control"
                               type="text" placeholder="Institution Type"
                               th:value="*{['institutionType.institutionTypeName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="institutionCodeFilter">Institution Code</label>
                        <input id="institutionCodeFilter" name="institutionCode" class="form-control"
                               type="text" placeholder="Institution Code" th:value="*{['institutionCode']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="institutionNameFilter">Institution Name</label>
                        <input id="institutionNameFilter" name="institutionName" class="form-control"
                               type="text" placeholder="Institution Name" th:value="*{['institutionName']}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="sortCodeFilter">Sort Code</label>
                        <input id="sortCodeFilter" name="sortCode" class="form-control"
                               type="text" placeholder="Sort Code" th:value="*{['sortCode']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="accountNumberFilter">Account Number</label>
                        <input id="accountNumberFilter" name="accountNumber" class="form-control"
                               type="text" placeholder="Account Number" th:value="*{['accountNumber']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.statusFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createInstitutionBtn" title="Create a New Institution" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createInstitutionModal')"
             th:with="
                  title='Institution :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.institutionTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editInstitutionModal')"
             th:with="
                  title='Institution :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.institutionTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewInstitutionModal')"
             th:with="
                  title='Institution :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>

        <script type="text/javascript">
            $(function () {
                new App.ui.datatable({
                    id: 'institutionTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: 'Institution Type', data: 'institutionType', render: 'institutionTypeName'},
                        {title: 'Institution Code', data: 'institutionCode'},
                        {title: 'Institution Name', data: 'institutionName'},
                        {title: 'Sort Code', data: 'sortCode'},
                        {title: 'Account Number', data: 'accountNumber'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'institutionId', actions: {
                            view: {
                                title: 'View Institution',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewInstitutionModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.institutionId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit Institution',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editInstitutionModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.institutionId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.institutionId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete Institution',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete Institution'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.institutionId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.institutionTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createInstitutionBtn').click(function (e) {
                    e.preventDefault();
                    window.createInstitutionModal.show({ajax: {url: 'create'}}, true);
                });

            });
        </script>
    </div>
</div>
</body>
</html>