<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>BillingReport</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post"
      th:name="|${action}BillingReport|">
    <div th:id="|formbox_${action}|" class="box-body" th:object="${model}"
         th:with="datePattern=${T(com.nibss.nacsreport.core.config.AppConstant).DEFAULT_DATE_PATTERN}">
        <div class="form-group">
            <label th:for="|description_${action}|">Description <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|description_${action}|" name="description" th:value="*{description}"
                   class="form-control" placeholder="Description" required="required"
                   maxlength="90"/>
        </div>
        <div class="form-group has-feedback">
            <label th:for="|fromDate_${action}|">From Date <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|fromDate_${action}|" name="fromDate" type="text"
                   th:value="*{fromDate!=null}?${#dates.format(model.fromDate, datePattern)}"
                   class="form-control" placeholder="From Date" required="required"
                   maxlength="90"/>
            <span class="fa fa-calendar form-control-feedback"/>
        </div>
        <div class="form-group has-feedback">
            <label th:for="|toDate_${action}|">To Date <i
                    class="fa fa-asterisk pull-right"/></label>
            <input th:id="|toDate_${action}|" name="toDate"
                   th:value="*{toDate!=null}?${#dates.format(model.toDate, datePattern)}"
                   class="form-control" placeholder="To Date" required="required"
                   maxlength="90"/>
            <span class="fa fa-calendar form-control-feedback"/>
        </div>

        <th:block th:if="${action eq 'edit'}">
            <input type="hidden" name="reportId" th:value="*{reportId}"/>
        </th:block>
        <script type="text/javascript" th:inline="text">
            $(function () {
                var action = '[[${action}]]';
                $('#fromDate_' + action + ',#toDate_' + action).singleDatePicker({
                 locale: {format: '[[${datePattern}]]'.toUpperCase()},
                 singleDatePicker: true
                 });
                App.ux.inputmask($('#formbox_' + action + ' :input'));
            });
        </script>
    </div>
</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}"
           th:with="datePattern=${T(com.nibss.nacsreport.core.config.AppConstant).DEFAULT_DATE_PATTERN}">
        <tr>
            <th>Report Name</th>
            <td th:text="*{reportName}"/>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="*{description}"/>
        </tr>
        <tr>
            <th>From Date</th>
            <td th:text="*{fromDate!=null}?${#dates.format(model.fromDate, datePattern)}"/>
        </tr>
        <tr>
            <th>To Date</th>
            <td th:text="*{toDate!=null}?${#dates.format(model.toDate, datePattern)}"/>
        </tr>
        <tr>
            <th>Status:</th>
            <td th:text="*{flag.name}"/>
        </tr>
    </table>
</div>
</body>
</html>