<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>BillingReport</title>
</head>
<body>
<div layout:include="layout/body::body('Billing Report :: List')"
     th:with="description='generate billing and view report details'">
    <div layout:fragment="content">
        <div layout:include="widget/dataTable::dataTable('billingReportTable')"
             th:with="
             title='Billing Reports',
             exportable=true,
             filterable=true">

            <div layout:fragment="tableFilter" th:object="${dataTableController.filters}">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="reportNameFilter">Report Name</label>
                        <input id="reportNameFilter" name="reportName" class="form-control"
                               type="text" placeholder="Report Name" th:value="*{['reportName']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="descriptionFilter">Description</label>
                        <input id="descriptionFilter" name="description" class="form-control"
                               type="text" placeholder="Description" th:value="*{['description']}"/>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="flagFilter">Status</label>
                        <select id="flagFilter" name="flag" class="form-control">
                            <option value="">All</option>
                            <option th:each="flag : ${controller.reportFlags}"
                                    th:value="${flag.id}"
                                    th:text="${flag.name}"
                                    th:selected="${flag.id}==*{['flag']}"/>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="fromDateFilter">From Date</label>
                        <div class="input-group">
                            <input id="fromDateFilter" name="fromDate" class="form-control" type="text"
                                   placeholder="From Date" style="background-color:transparent"
                                   th:value="*{['fromDate']}"/>
                                    <span onclick="$(this.parentNode).find('input:first').focus();"
                                          class="input-group-addon">
                                        <span class="fa fa-calendar"/>
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="toDateFilter">To Date</label>
                        <div class="input-group">
                            <input id="toDateFilter" name="toDate" class="form-control" type="text"
                                   placeholder="To Date" style="background-color:transparent"
                                   th:value="*{['toDate']}"/>
                                    <span onclick="$(this.parentNode).find('input:first').focus();"
                                          class="input-group-addon">
                                        <span class="fa fa-calendar"/>
                                    </span>
                        </div>
                    </div>
                </div>
            </div>

            <div layout:fragment="tableAction" class="btn-group pull-right">
                <button id="createBillingReportBtn" title="Create a New BillingReport" type="button"
                        class="btn btn-flat btn-primary" aria-expanded="true">
                    <span class="fa fa-file"/> New
                </button>
            </div>

        </div>


        <div layout:include="widget/modalBox::modalBox('createBillingReportModal')"
             th:with="
                  title='Billing Report :: New',
                  validate=true,
                  onSuccess='if(this.response.valid)window.billingReportTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('editBillingReportModal')"
             th:with="
                  title='Billing Report :: Edit',
                  validate=true,
                  onSuccess='if(this.response.valid)window.billingReportTable.reload();'"/>

        <div layout:include="widget/modalBox::modalBox('viewBillingReportModal')"
             th:with="
                  title='Billing Report :: Details',
                  cancelButton=false,
                  onAction='return false;'"/>


        <script type="text/javascript" th:inline="javascript">
            /* <![CDATA[*/
            $(function () {
                new App.ui.datatable({
                    id: 'billingReportTable',
                    order: [[0, 'desc']],
                    columns: [
                        {title: '', data: 'reportId', selector: true, orderable: true},
                        {title: 'Report Name', data: 'reportName'},
                        {title: 'Description', data: 'description'},
                        {title: 'From Date', data: 'fromDate'},
                        {title: 'To Date', data: 'toDate'},
                        {title: 'Status', data: 'flag', render: 'name'},
                        {
                            title: 'Actions', data: 'reportId', actions: {
                            view: {
                                title: 'View Billing Report',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.viewBillingReportModal.show({
                                        ajax: {
                                            url: 'view', data: {modelId: rowData.reportId}
                                        }
                                    }, false);
                                }
                            },
                            edit: {
                                title: 'Edit Billing Report',
                                disabled: function (data, rowData) {
                                    return [[${T(com.nibss.nacsreport.core.model.Flag).OPEN_ID}]] !== rowData.flag.id;
                                },
                                rendered: function (data, rowData) {
                                    //${T(com.nibss.nacsreport.core.model.Flag).YES_ID}==*{admin.id}
                                    return true;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    window.editBillingReportModal.show(
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.reportId}
                                                }
                                            },
                                            {
                                                ajax: {
                                                    url: 'edit',
                                                    data: {modelId: rowData.reportId},
                                                    type: App.HTTP_PUT
                                                }
                                            }
                                    );
                                }
                            },
                            delete: {
                                title: 'Delete Billing Report',
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Delete Billing Report'}, function () {
                                        App.ajax.doAction({
                                            ajax: {
                                                url: 'delete/' + rowData.reportId,
                                                type: App.HTTP_DELETE
                                            }, onsuccess: function () {
                                                window.billingReportTable.reload(false);
                                            }
                                        });
                                    }).show();
                                }
                            },
                            generateBillingReport: {
                                title: 'Generate Billing Report',
                                className: 'btn-flat btn-sm btn-sm btn-primary',
                                icon: 'fa fa-gear',
                                disabled: function (data, rowData) {
                                    return false;//rowData.state;
                                },
                                rendered: function (data, rowData) {
                                    return true;
                                },
                                callback: function (data, rowData, rowIndex, colIndex) {
                                    App.ui.confirmDialogBox({title: 'Generate Billing Report'}, function () {
                                        if (data) {
                                            var blockui;
                                            App.ajax.doAction({
                                                ajax: {
                                                    url: 'generate-report/' + rowData.reportId,
                                                    data: {modelId: rowData.reportId}
                                                },
                                                onbeforeSend: function () {
                                                    blockui = App.ux.blockUI({progress: {url: "report-progress/" + rowData.reportId}});
                                                },
                                                oncomplete: function (response) {
                                                    blockui.startProgress();
                                                    window.billingReportTable.reload(false);
                                                },
                                            });
                                        }
                                    }).show();
                                }
                            }
                        }
                        }
                    ]
                });

                $('#createBillingReportBtn').click(function (e) {
                    e.preventDefault();
                    window.createBillingReportModal.show({ajax: {url: 'create'}}, true);
                });

                $('#fromDateFilter,#toDateFilter').singleDatePicker({
                    locale: {format: 'DD/MM/YYYY'},
                    singleDatePicker: true
                });
            });
            /*]]>*/
        </script>
    </div>
</div>
</body>
</html>