<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Audit</title>
</head>
<body>

<form layout:fragment="POST(action)" enctype="application/x-www-form-urlencoded" th:action="${action}" method="post">

</form>

<div class="table-readonly" layout:fragment="GET(action)">
    <table class="table table-striped" th:object="${model}">
        <tr>
            <th>Institution</th>
            <td th:text="*{institution}?*{institution.institutionName}"/>
        </tr>

        <tr>
            <th>Event By</th>
            <td th:text="*{user}?*{user.email}"/>
        </tr>
        <tr>
            <th>Event IP</th>
            <td th:text="*{eventIp}"/>
        </tr>

        <tr>
            <th>Email</th>
            <td th:text="*{email}"/>
        </tr>

        <tr>
            <th>Event Date:</th>
            <td id="eventDateValue">
                <script type="text/javascript" th:inline="text">
                    $(function () {
                        $('td#eventDateValue').text(App.util.formatDate("[[*{eventDate.time}]]"));
                    });
                </script>
            </td>
        </tr>

        <tr>
            <th>Status:</th>
            <td th:text="*{status}?*{status.description}"/>
        </tr>
    </table>
</div>
</body>
</html>